.board {
    border-collapse: collapse;
}

.board td {
    border: 1px solid black;
    width: 42px;
    height: 42px;
    text-align: center;
    background-color: #ededed;
}

.board td:empty {
    background-color: #fcfcfc;
    cursor: pointer;
}

.board td:hover {
    background-color: #ededed;
}

.noselect {
    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
