.sokoban-menu > header {
    font-size: 1.61em;
    border-bottom: 1px solid #bbbbbb;
    line-height: 1.5;
    margin-top: 0.5rem;
}

.sokoban-menu-list {
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow: scroll;
}

.sokoban-entry {
    border-bottom: 1px solid #bbbbbb;
    padding: 1rem;
}

.sokoban-entry > header {
    font-size: 1.25em;
}

.sokoban-level {
    white-space: pre-wrap;
    font-family: menlo, consolas, monospace;
    line-height: 1;
}
